@use 'variables' as v;
@use 'mixins' as m;

.main {
  display: flex;
  flex-direction: column;

  .sidebar-container {
    z-index: 1;
    flex: 1;
    height: 100vh;
    max-height: 100vh;
    background-color: v.$principalColor;
    position: sticky;
    top: 0;
    left: 0;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .header-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo-container {
        .img-container {
          height: 7rem;
        }
      }

      .icon-container {
        font-size: 3rem;
        color: v.$white;
      }
    }

    .options-list {
      flex-grow: 1;
      padding: 3rem 0;
      flex-direction: column;

      display: none;

      &.show {
        display: inline-block;
      }

      .option {
        display: flex;
        align-items: center;

        a {
          width: 100%;
          display: flex;
          align-items: center;
          margin-bottom: 2rem;

          &:hover {
            cursor: pointer;
            .icon-container {
              transform: scale(1.2);
            }

            p {
              color: lighten(v.$principalColor, 40%);
            }
          }

          .icon-container {
            width: 4rem;
            margin-right: 1rem;
            padding-bottom: 0.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            color: v.$white;
            font-size: 3rem;
            transition: transform 0.3s ease;
            // text-align: center;
          }

          p {
            color: v.$white;
            transition: color 0.3s ease;
            margin: 0;
          }
        }
      }
    }
  }

  .main-content {
    flex: 4;
    padding: 4rem;
  }
}
