<section class="section container-sm">
  <h1>Encuentranos</h1>

  <div class="cards-container container-sm in-section-sm">
    <div class="card">
      <div class="icon-container">
        <i class="fa-solid fa-square-phone"></i>
      </div>
      <p>+54 9 266 486-1660</p>
    </div>
    <div class="card">
      <div class="icon-container">
        <i class="fa-solid fa-map"></i>
      </div>
      <p>Rivadavia 1049 San Luis <br>Argentina</p>
    </div>
    <div class="card">
      <div class="icon-container">
        <i class="fa-solid fa-church"></i>
      </div>
      <p>Reunión general <br>10hs | 19hs</p>
    </div>
  </div>
</section>

<section class="section">
  <h2>Ubicación</h2>
  <div class="map-container">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d208.4239475840997!2d-66.3375183!3d-33.2983354!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95d43953d2152397%3A0x900bcf9420f0c148!2sIglesia%20Evangelica%20Bautista%20del%20Centro!5e0!3m2!1ses!2sar!4v1713469815865!5m2!1ses!2sar"
      width="1200" height="600" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</section>