<footer class="footer in-section-sm">
  <div class="footer-content container-sm">
    <div class="social-links">
      <h3>Redes sociales</h3>
      <a href="https://www.instagram.com/iglesia_bautista_centro_sl/" target="_blank" class="link">
        <span>
          <i class="fa-brands fa-square-instagram"></i>
        </span>
        <p>Instagram</p>
      </a>
      <a href="https://www.youtube.com/@iglesiaevangelicabautistad4898" tar target="_blank" class="link">
        <span>
          <i class="fa-brands fa-square-youtube"></i>
        </span>
        <p>Youtube</p>
      </a>
      <a href="https://www.facebook.com/bautistadelcentrosanluis/" tar target="_blank" class="link">
        <span>
          <i class="fa-brands fa-square-facebook"></i>
        </span>
        <p>Facebook</p>
      </a>
      <a href="https://chat.whatsapp.com/JaPqDSbnwRp.." tar target="_blank" class="link">
        <span>
          <i class="fa-brands fa-square-whatsapp"></i>
        </span>
        <p>Comunidad de Whatsapp</p>
      </a>
    </div>
    <div class="direction">
      <h3>Encuéntranos</h3>
      <div class="direction-items">
        <a href="https://maps.app.goo.gl/hrXwGfeEE8Y4rYxq6" target="_blank" class="item">
          <span>
            <i class="fa-solid fa-map"></i>
          </span>
          <p>Rivadavia 1049 San Luis, Argentina</p>
        </a>
        <div class="item">
          <span>
            <i class="fa-solid fa-square-phone"></i>
          </span>
          <p>+54 9 266 486-1660</p>
        </div>
      </div>
    </div>
  </div>
</footer>