<section class="section-sm contanier-sm">
  <h1>Editar evento</h1>

  <mat-card class="update-event-card">
    <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Título</mat-label>
        <input matInput formControlName="title" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Fecha de Inicio</mat-label>
        <input matInput [matDatepicker]="date_start" formControlName="date_start" required>
        <mat-datepicker-toggle matSuffix [for]="date_start"></mat-datepicker-toggle>
        <mat-datepicker #date_start></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Fecha de Fin (Opcional)</mat-label>
        <input matInput [matDatepicker]="date_end" formControlName="date_end">
        <mat-datepicker-toggle matSuffix [for]="date_end"></mat-datepicker-toggle>
        <mat-datepicker #date_end></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Hora de Inicio</mat-label>
        <input matInput formControlName="time_start" type="time" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Hora de Fin (Opcional)</mat-label>
        <input matInput formControlName="time_end" type="time">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Ubicación</mat-label>
        <input matInput formControlName="ubication" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Precio (Opcional)</mat-label>
        <input matInput formControlName="price" type="number">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Información adicional (Opcional)</mat-label>
        <input matInput formControlName="aditional_info">
      </mat-form-field>

      <div class="image-input-container">
        <label>Imagen del evento (Opcional)</label>
        <input type="file" formControlName="image">
      </div>

      <button class="submit-button" type="submit">Guardar cambios</button>
    </form>
  </mat-card>

</section>