<section class="navbar-container" [ngClass]="{transparent: isNavbarTransparent, solid: !isNavbarTransparent}">
  <div class="navbar">
    <div class="logo-container">
      <a [routerLink]="['/']"><img src="assets/logo-ibc.png" alt="ibc logo"></a>
    </div>
    <nav class="nav" [ngClass]="{'show': showNavbar}">
      <a [routerLink]="['/']">Inicio</a>
      <a [routerLink]="['/eventos']">Eventos</a>
      <a [routerLink]="['/ministerios']">Ministerios</a>
      <!-- <a [routerLink]="['/predicas']">Prédicas</a> -->
      <a [routerLink]="['/contacto']">Contacto</a>
    </nav>
    <div class="menu-icon" (click)="showNav()">
      <i class="fa-solid fa-bars"></i>
    </div>
  </div>
</section>