<section class="vision section container-sm">
  <h1>Nuestra visión</h1>
  <p class="">En nuestra iglesia, buscamos ser un refugio de restauración y recuperación en la comunidad.
    Creemos en el poder
    sanador del amor de Dios para transformar vidas y brindar esperanza renovada. Aquí, todos son bienvenidos a
    experimentar el perdón, la gracia y una nueva vida en Cristo.</p>
</section>

<section class="versicule in-section bg-section">
  <div class="container-sm">
    <p class="cursive-text2">"Porque donde dos o tres se reúnen en mi nombre, allí estoy yo en medio de ellos"</p>
    <h3 class="cursive-text2">Mateo 18:20 NTV</h3>
  </div>
</section>

<section class="carrousel-activities section container-sm">

  <h2>Actividades</h2>

  <swiper-container navigation="true" class="swiper-container" pagination="true" pagination-clickable="true">

    @for (item of indexCarrouselItems; track $index) {
    <swiper-slide class="activity swiper-slide">
      <div class="img-container">
        <img [src]="item.urlImg" [alt]="item.imgAlt">
      </div>
      <div class="text-container">
        <div class="header-container">
          <h3>{{item.title}}</h3>
          <div class="date-event">
            @if (item.date){
            <div class="icon"><i class="fa-solid fa-calendar-days"></i></div>
            <p>{{item.date}}</p>
            }
          </div>
        </div>
        <p>{{item.text}}</p>
      </div>
    </swiper-slide>
    }


  </swiper-container>

</section>

<section class="shepherds in-section bg-section-inverted">
  <div class="container-sm">
    <h2>Pastores y pastoras</h2>
    <div class="cards-container">
      <div class="card">
        <img src="assets/shepherds-circle/anibal.png" alt="Anibal Berg">
        <span class="cursive-text2">Pastor</span>
        <p class="cursive-text2">Anibal Berg</p>
      </div>
      <div class="card">
        <img src="assets/shepherds-circle/adriana.png" alt="Adriana Maggiori">
        <span class="cursive-text2">Pastora</span>
        <p class="cursive-text2">Adriana Maggiori</p>
      </div>
      <div class="card">
        <img src="assets/shepherds-circle/gabriel.png" alt="Gabriel Luna">
        <span class="cursive-text2">Pastor</span>
        <p class="cursive-text2">Gabriel Luna</p>
      </div>
      <div class="card">
        <img src="assets/shepherds-circle/vero.png" alt="Veronica Repollo">
        <span class="cursive-text2">Pastora</span>
        <p class="cursive-text2">Veronica Repollo</p>
      </div>
      <div class="card">
        <img src="assets/shepherds-circle/david.png" alt="David Acevedo">
        <span class="cursive-text2">Pastor</span>
        <p class="cursive-text2">David Acevedo</p>
      </div>
    </div>
  </div>
</section>

<section class="last-videos section container-sm">
  <h2>Últimas prédicas</h2>
  <div class="videos-container">
    @for(video of ytVideoItems; track $index){
    <div class="video">
      <div class="img-container">
        <img [src]="video.snippet.thumbnails.standard.url" [alt]="video.snippet.title">
      </div>
      <div class="text-container">
        <h3>{{video.snippet.title.split('-')[0]}}</h3>
        <p><span><i class="fa-solid fa-calendar-days"></i></span>{{video.snippet.publishedAt | date: 'longDate':
          undefined : 'es'}}</p>
        <a [href]="'https://www.youtube.com/watch?v=' + video.snippet.resourceId.videoId" target="_blank">
          VER VIDEO
        </a>
      </div>
    </div>
    }
  </div>
</section>