@use 'variables' as v;
@use 'mixins' as m;

.admin-page-title {
  font-size: 4rem;
}

.meeting-schedule-container {
  max-width: 70%;
  margin: 10rem auto 0 auto;
  .meeting-schedule-form,
  .inputs-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: start;

    @include m.tablet {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

.submit-button {
  @include m.button(v.$principalColor, v.$white);
}
