<section class="container-sm section">
  <h1>Agenda de actividades</h1>
  <div class="events-container">
    <div class="event">
      <div class="header">
        <p>IBC</p>
      </div>
      <div class="date-content">
        <div class="date-circle">
          <div class="date">
            <span class="number">09</span>
            <span class="month">Abril</span>
            <!-- <span><i class="fa-solid fa-calendar-days"></i></span> -->
          </div>
        </div>
        <div class="title-container">
          <h3>Grupo de hombres</h3>
          <span>12:00 - 13:30 hs</span>
        </div>
      </div>
      <div class="details">
        <ul class="list">
          <li><span class="icon"><i class="fa-solid fa-calendar-days"></i></span>
            <p>6 y 7 de abril</p>
          </li>
          <li><span class="icon"><i class="fa-regular fa-clock"></i></span>
            <p>12:00 - 13:30 hs</p>
          </li>
          <li><span class="icon"><i class="fa-solid fa-location-dot"></i></span>
            <p>En el patio (Suyuque)</p>
          </li>
          <li><span class="icon"><i class="fa-solid fa-money-check-dollar"></i></span>
            <p>$1500</p>
          </li>
          <li><span class="icon"><i class="fa-solid fa-circle-info"></i></span>
            <p>Información adicional</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="event">
      <div class="header">
        <p>IBC</p>
      </div>
      <div class="date-content">
        <div class="date-circle">
          <div class="date">
            <!-- <span class="number">09</span>
            <span class="month">Abril</span> -->
            <span class="calendar-icon"><i class="fa-solid fa-calendar-days"></i></span>
          </div>
        </div>
        <div class="title-container">
          <h3>Grupo de hombres</h3>
          <span>12:00 - 13:30 hs</span>
        </div>
      </div>
      <div class="details">
        <ul class="list">
          <li><span class="icon"><i class="fa-solid fa-calendar-days"></i></span>
            <p>6 y 7 de abril</p>
          </li>
          <li><span class="icon"><i class="fa-regular fa-clock"></i></span>
            <p>12:00 - 13:30 hs</p>
          </li>
          <li><span class="icon"><i class="fa-solid fa-location-dot"></i></span>
            <p>En el patio (Suyuque)</p>
          </li>
          <li><span class="icon"><i class="fa-solid fa-money-check-dollar"></i></span>
            <p>$1500</p>
          </li>
          <li><span class="icon"><i class="fa-solid fa-circle-info"></i></span>
            <p>Información adicional</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="event">
      <div class="header">
        <p>IBC</p>
      </div>
      <div class="date-content">
        <div class="date-circle">
          <div class="date">
            <span class="number">09</span>
            <span class="month">Abril</span>
            <!-- <span class="calendar-icon"><i class="fa-solid fa-calendar-days"></i></span> -->
          </div>
        </div>
        <div class="title-container">
          <h3>Grupo de hombres</h3>
          <span>12:00 - 13:30 hs</span>
        </div>
      </div>
      <div class="details">
        <ul class="list">
          <li><span class="icon"><i class="fa-solid fa-calendar-days"></i></span>
            <p>6 y 7 de abril</p>
          </li>
          <li><span class="icon"><i class="fa-regular fa-clock"></i></span>
            <p>12:00 - 13:30 hs</p>
          </li>
          <li><span class="icon"><i class="fa-solid fa-location-dot"></i></span>
            <p>En el patio (Suyuque)</p>
          </li>
          <li><span class="icon"><i class="fa-solid fa-money-check-dollar"></i></span>
            <p>$1500</p>
          </li>
          <li><span class="icon"><i class="fa-solid fa-circle-info"></i></span>
            <p>Información adicional</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="container-sm section">
  <h2>Imágenes</h2>
  <div class="images-container">
    <div class="image">
      <img src="assets/carrousel-index/grupo-hombres.webp" alt="">
    </div>
    <div class="image">
      <img src="assets/carrousel-index/grupo-hombres.webp" alt="">
    </div>
    <div class="image">
      <img src="assets/carrousel-index/grupo-hombres.webp" alt="">
    </div>
    <div class="image">
      <img src="assets/carrousel-index/grupo-hombres.webp" alt="">
    </div>
    <div class="image">
      <img src="assets/carrousel-index/grupo-hombres.webp" alt="">
    </div>
    <div class="image">
      <img src="assets/carrousel-index/grupo-hombres.webp" alt="">
    </div>
  </div>
</section>