<section class="section container-sm ministries-container">
  <h1>Ministerios</h1>
  <p>Estas son las distintas áreas que abarca la congregación</p>

  <div class="ministries container-sm">
    <div data-aos="fade-up" data-aos-anchor-placement="top-bottom" class="ministry in-section-sm">
      <div class="img-container">
        <img src="assets/ministries/gi.webp" alt="Ministerio de generación impacto">
      </div>
      <div class="content">
        <h3>Generación impacto</h3>
        <p>Aquí, los niños encuentran un espacio de diversión y aprendizaje donde las
          historias de la Biblia cobran vida. A través de juegos, canciones y momentos de reflexión, les enseñamos sobre
          el amor de Dios y cómo pueden llevarlo a su entorno cotidiano. Cultivamos semillas
          de fe en los corazones jóvenes, semillas que crecerán y darán frutos para toda la vida.</p>
      </div>
    </div>

    <div data-aos="fade-up" data-aos-anchor-placement="top-bottom" class="ministry in-section-sm inverted">
      <div class="content">
        <h3>Preadolescentes</h3>
        <p>En preadolescentes, nos sumergimos en un viaje de crecimiento espiritual diseñado
          específicamente para ellos. Aquí, ofrecemos un ambiente acogedor donde pueden
          explorar su fe de una manera relevante y significativa. A través de actividades interactivas, discusiones
          estimulantes y momentos de reflexión, ellos descubren cómo pueden vivir su fe en el mundo real
          mientras enfrentan los desafíos propios de esta etapa de transición en sus vidas.</p>
      </div>
      <div class="img-container">
        <img src="assets/ministries/preadolescentes.webp" alt="Ministerio de preadolescentes">
      </div>
    </div>

    <div data-aos="fade-up" data-aos-anchor-placement="top-bottom" class="ministry in-section">
      <div class="img-container">
        <img src="assets/ministries/adolescentes.webp" alt="Ministerio de adolescentes">
      </div>
      <div class="content">
        <h3>Adolescentes</h3>
        <p>En nuestras reuniones,
          ofrecemos un espacio serio y comprometido donde los jóvenes pueden explorar su relación con
          Dios y entre ellos. A través de discusiones maduras, estudios bíblicos y momentos de oración íntima,
          buscamos descubrir juntos cómo seguir a Jesús en nuestro día a día. Únete a nosotros mientras nos desafiamos
          mutuamente a crecer en nuestra fe y a enfrentar los desafíos de la adolescencia con valentía y esperanza.</p>
      </div>
    </div>

    <div data-aos="fade-up" data-aos-anchor-placement="top-bottom" class="ministry in-section-sm inverted">
      <div class="content">
        <h3>Jóvenes</h3>
        <p>Sumate en un viaje de crecimiento espiritual y discipulado en nuestro Ministerio de Jóvenes. Nos reunimos
          semanalmente para explorar temas profundos y relevantes para la vida de los jóvenes adultos, quienes enfrentan
          desafíos únicos en su vida. A través de estudios bíblicos enriquecedores,
          discusiones significativas y momentos de oración íntima, buscamos profundizar nuestra comprensión de la fe
          y su aplicación práctica en nuestras vidas.</p>
      </div>
      <div class="img-container">
        <img src="assets/ministries/jovenes.webp" alt="Ministerio de jóvenes">
      </div>
    </div>

    <div data-aos="fade-up" data-aos-anchor-placement="top-bottom" class="ministry in-section">
      <div class="img-container">
        <img src="assets/ministries/celebremos.webp" alt="Ministerio de celebremos la recuperación">
      </div>
      <div class="content">
        <h3>Celebremos la recuperación</h3>
        <p>Creemos que cada paso hacia la sanidad es motivo de celebración. Nos
          comprometemos a ser de ayuda a aquellos que luchan con adicciones, traumas, problemas
          emocionales y más. En nuestras reuniones, encontrarás un ambiente de comprensión, amor y aceptación donde
          puedes compartir tus luchas y triunfos en un camino hacia la recuperación. Juntos celebramos cada pequeño
          avance y nos apoyamos en nuestro viaje hacia la sanidad y la restauración.
        </p>
      </div>
    </div>

    <div data-aos="fade-up" data-aos-anchor-placement="top-bottom" class="ministry in-section-sm inverted">
      <div class="content">
        <h3>Grupos pequeños</h3>
        <p>En nuestros grupos pequeños, la fe se vive en comunidad. Únete a uno de nuestros grupos para una experiencia
          íntima y enriquecedora donde puedes profundizar en el mensaje compartido durante nuestra reunión general de
          los domingos. Aquí, encontrarás un espacio para compartir tus inquietudes, reflexiones y oraciones con otros
          miembros de la iglesia que comparten tu camino espiritual. A través del compañerismo, el apoyo mutuo y la
          reflexión bíblica, crecemos juntos en nuestra relación con Dios y en nuestra conexión con la comunidad de fe.
        </p>
      </div>
      <div class="img-container">
        <img src="assets/ministries/grupos-pequeños.webp" alt="Ministerio de grupos pequeños">
      </div>
    </div>

    <div data-aos="fade-up" data-aos-anchor-placement="top-bottom" class="ministry in-section">
      <div class="img-container">
        <img src="assets/ministries/grupo-hombres.webp" alt="Ministerio de grupos pequeñosde hombres">
      </div>
      <div class="content">
        <h3>Grupos pequeños de hombres</h3>
        <p>¡Hombres de la iglesia, es momento de unir fuerzas y crecer juntos en nuestra fe! Nuestro grupo exclusivo
          para hombres ofrece un espacio donde podemos compartir nuestras experiencias, desafíos y triunfos mientras
          exploramos cómo ser líderes, esposos, padres y seguidores de Cristo en el mundo de hoy. Cada semana nos
          reunimos para profundizar en la Palabra, orar unos por otros y animarnos mutuamente en nuestro caminar con
          Dios. ¡Únete a nosotros y descubre el poder de la hermandad en Cristo!</p>
      </div>
    </div>

    <div data-aos="fade-up" data-aos-anchor-placement="top-bottom" class="ministry in-section-sm inverted">
      <div class="content">
        <h3>Grupos pequeños de mujeres</h3>
        <p>En nuestro grupo de mujeres, creamos un espacio de conexión y crecimiento espiritual. Aquí, nos reunimos para
          compartir nuestras experiencias, sueños y desafíos mientras exploramos juntas cómo vivir una vida de fe que
          glorifique a Dios. En un ambiente de amor y apoyo, nos alentamos unas a otras a crecer en nuestra relación con
          Dios y a vivir de acuerdo con su voluntad. Únete a nosotras mientras nos sumergimos en la Palabra de Dios y en
          la comunidad de fe para ser mujeres que reflejan la belleza y la gracia de Cristo en todo lo que hacemos.</p>
      </div>
      <div class="img-container">
        <img src="assets/ministries/grupo-mujeres.webp" alt="Ministerio de grupos pequeños de mujeres">
      </div>
    </div>

    <div data-aos="fade-up" data-aos-anchor-placement="top-bottom" class="ministry in-section">
      <div class="img-container">
        <img src="assets/ministries/taller-crecimiento.webp" alt="Ministerio de taller de crecimiento">
      </div>
      <div class="content">
        <h3>Taller de crecimiento</h3>
        <p>Únete a nuestro apasionante Taller de Crecimiento, donde nos sumergimos en el estudio profundo y
          significativo de la Palabra de Dios. Cada semana, nos enfocamos en explorar detalladamente un libro o tema
          específico de la Biblia, analizando su contexto, mensaje y aplicación práctica en nuestras vidas. A través de
          sesiones de estudio rigurosas, discusiones enriquecedoras y momentos de reflexión personal, buscamos crecer
          espiritualmente y profundizar nuestra relación con Dios.</p>
      </div>
    </div>

    <div data-aos="fade-up" data-aos-anchor-placement="top-bottom" class="ministry in-section-sm inverted">
      <div class="content">
        <h3>Casa de la mujer</h3>
        <p>En la Casa de la Mujer, nos comprometemos a ser un faro de esperanza y sanidad para todas las mujeres que
          buscan sanar y crecer en su vida. Nuestro programa uno a uno ofrece un espacio seguro y confidencial donde
          puedes explorar y abordar problemas específicos relacionados a la mujer. Ya sea que estés lidiando con heridas
          emocionales, relaciones difíciles o desafíos relacionados con tu identidad, estamos aquí para acompañarte
          hacia la sanidad y el empoderamiento.</p>
      </div>
      <div class="img-container">
        <img src="assets/ministries/casa-mujer.webp" alt="Ministerio de casa de la mujer">
      </div>
    </div>

    <div data-aos="fade-up" data-aos-anchor-placement="top-bottom" class="ministry in-section">
      <div class="img-container">
        <img src="assets/ministries/sanidad-interior.webp" alt="Ministerio de sanidad interior">
      </div>
      <div class="content">
        <h3>Sanidad interior</h3>
        <p>¡Bienvenido al Ministerio de Sanidad Interior, donde tu bienestar es nuestra prioridad! En nuestro programa
          uno a uno, ofrecemos un espacio de amor y comprensión donde puedes abordar cualquier problema que esté
          afectando tu vida. Nuestros pastores están aquí para escucharte, apoyarte y guiarte en tu camino hacia la
          sanidad y la restauración. Ya sea que estés lidiando con heridas del pasado, conflictos familiares, problemas
          de autoestima o cualquier problema estamos aquí para ayudarte a encontrar la solución y la paz que necesitas
          para vivir una vida plena y significativa.</p>
      </div>
    </div>

    <div data-aos="fade-up" data-aos-anchor-placement="top-bottom" class="ministry in-section-sm inverted">
      <div class="content">
        <h3>Liberación</h3>
        <p>Buscamos traer libertad y sanidad espiritual a cada persona que lo necesita! Se enfoca en abordar y superar
          las cadenas espirituales que puedan estar afectando tu vida. Ya sea que estés luchando con hábitos
          destructivos, influencias espirituales negativas o cualquier otra forma de opresión espiritual, estamos aquí
          para ayudarte a encontrar la liberación y la restauración que necesitas en Cristo. </p>
      </div>
      <div class="img-container">
        <img src="assets/ministries/liberacion.webp" alt="Ministerio de liberación">
      </div>
    </div>

    <div data-aos="fade-up" data-aos-anchor-placement="top-bottom" class="ministry in-section">
      <div class="img-container">
        <img src="assets/ministries/templo-movil.webp" alt="Ministerio de templo móvil">
      </div>
      <div class="content">
        <h3>Templo móvil</h3>
        <p>Creemos que la iglesia no se limita a cuatro paredes, ¡sino que está destinada a salir y transformar el
          mundo! Somos un colectivo dinámico que lleva la presencia de Dios a diferentes parajes y zonas de la ciudad,
          compartiendo el evangelio y brindando esperanza a aquellos que están perdidos y necesitados. Estamos
          comprometidos a ser testigos vivos del amor y la gracia de Dios.</p>
      </div>
    </div>

  </div>
</section>