@use 'variables' as v;
@use 'mixins' as m;

.mat-elevation-z8 {
  border-radius: 2rem;
  overflow: hidden;

  tr[mat-header-row] {
    background-color: v.$principalColor;
    color: v.$white;

    th {
      text-align: center;
    }
  }

  td {
    text-align: center;
  }
}

.create-event-button {
  @include m.button(v.$principalColor, v.$white);
}

.edit-event-button {
  @include m.button(v.$blue, v.$white);
}

.delete-event-button {
  @include m.button(v.$red, v.$white);
}

.edit-event-button,
.delete-event-button {
  font-size: 1.5rem;
  display: inline-flex;
  align-items: center;
  column-gap: 1rem;
  padding: 1rem;
}

.no-events-message {
  padding: 1rem 0;

  color: v.$gray;
}
